:root {
  --color-primary: #3b82f6;
  --color-secondary: #9333ea;

  --gray-100: #f3f4f6;
  --gray-200: #e5e7eb;
  --gray-600: #4b5563;
  --gray-900: #111827;

  --spacing: 0.25rem;
  --radius-xl: 0.75rem;
  --radius-2xl: 1rem;
}